<form id="uploadForm" action="@Url.Action("uploadFile", "Files")" method="post" enctype="multipart/form-data" >
<fieldset>
    <legend>Upload</legend>
    <input id="file" name="file" type="file" value="" />
    <input id="uploadButton" type="submit" value="Submit" /><br />
    <input name="tagList" type="text" />
    <input type="button" class="Odustani" value="Cancel" />
</fieldset>
</form>
